main{
  min-height: 80vh;
  margin-top: 70px;
}
h3{
  padding: 1rem 0;
}
rating span{
  margin: 0.1rem;
}
h1{
  font-size: 1.8rem;
  padding: 1rem 0;
}
h2{
  font-size: 1.4rem;
  padding: 0.5rem 0;
}
.redCol{
  background-color: rgb(243, 203, 203);
}

button.slick-arrow{
  
  background-color: black;
  border-radius: 50%;
}

button.slick-arrow:hover{
  
  background-color: aquamarine;
}
.circl{
  width: 300px;
  height: 300px;
  background-color: burlywood;
  border-radius: 50%;
}